{% extends 'base.html' %}

{% block content %}
{% load staticfiles %}
<div class="container-fluid tw-content">
    <div class="row">

        <div class="page-header tw-heading">
            <h1>About Me
                <br>
                <small>A description of me by me</small>
            </h1>
        </div>
    </div>
    <div class="row">

        <div class="panel panel-default">

            <!-- Begin about elements -->

            <div id="about-me-d3"></div>
            <script type="text/javascript" src="{% static 'about_me_visualise.js' %}"></script>

            <!-- End about elements -->

        </div>
    </div>

</div>

{% endblock %}